.wrapperPage {
    position: relative;
}

.tableFileManager {
    width: 500px;
}

.tableFileManager td:nth-child(2) {
    width: 300px;
}

.tableFileManager, .tableFileManager th {
    border: 1px solid grey;
}


.tableFileManager tr {
    transition: all 0.5s ease;
}

.tableFileManager tr:not(.selected):hover {
    background-color: #bdc3c7;
}

.tableFileManager td {
    padding: 3px 5px;
}

.selected {
    background-color: lightskyblue;
}

.loading {
    pointer-events: none
}