.stopwatch_container{
    display: flex;
    align-items: center;
}
.element{
    font-size: 136px;
    margin-right: 20px;
}

.stop_button{
    font-size: 54px;
    padding: 10px 20px;
    font-family: Arial;
    background-color: #e84118;
    color: white;
    border: none;
    border-radius: 40px;
    margin-top: 10px;
}

.stop_button:hover{
    opacity: 0.8;
    cursor: pointer;
}